@{
    ViewData["Title"] = "Posts";
    Layout = "_AdminLayout";
}
@model List<TripPost>
@section Choosen {
    <ul class="nav">
        <li>
            <a asp-controller="Admin" asp-action="Index">
                <i class="nc-icon nc-bank"></i>
                <p style="font-weight: 600;">Dashboard</p>
            </a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Account">
                <i class="nc-icon nc-single-02"></i>
                <p style="font-weight: 600;">Account</p>
            </a>
        </li>
        <li>
            <a asp-controller="Admin" asp-action="Users">
                <i class="nc-icon nc-user-run"></i>
                <p style="font-weight: 600;">Users</p>
            </a>
        </li>
        <li class="active ">
            <a asp-controller="Admin" asp-action="Posts">
                <i class="nc-icon nc-album-2"></i>
                <p style="font-weight: 600;">Posts</p>
            </a>
        </li>
    </ul>
}


<div class="row">
    @foreach (var post in Model)
    {
        <div class="col-lg-4 col-md-6">
            <div class="card">
                @if (post.PhotoPath == null)
                {
                    <img class="card-img-top" src="~/Images/default-cover.jpg" style="height:70px;" alt="Card image cap">
                }
                else
                {
                    <img class="card-img-top" src="~/Images/Posts/@post.PhotoPath" style="height:70px;" alt="Card image cap">
                }
            <div class="card-body">
                <h4 class="card-title">@post.Title</h4>
                <p class="card-text">@post.Details</p>
                <p class="card-text"><span style="font-weight: 600; color: #ef8157;">Destination: </span>@post.Destination</p>
                <p class="card-text"><span style="font-weight: 600; color: #ef8157;">TravelDate: </span>@post.Date</p>
                <p class="card-text"><span style="font-weight: 600; color: #ef8157;">PostDate: </span>@post.PostDate</p>
                <p class="card-text"><span style="font-weight: 600; color: #ef8157;">Likes: </span>@post.Likedby.Count()</p>
                <p class="card-text"><span style="font-weight: 600; color: #ef8157;">Dislikes: </span>@post.Dislikedby.Count()</p>
                <div class="card-footer">
                    <hr>
                    <div class="button-container">
                        <div class="row">
                            <div class="update ml-auto mr-auto">
                                <a href="#" class="btn btn-danger btn-round">Delete ProfilePic</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    }
</div>